<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <!-- Listado de categorías -->
        <section th:fragment="listado">
            <div class="container my-4">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        th:each="c : ${categorias}">
                        <span th:text="${c.nombre}"></span>
                        <div>
                            <!-- Botón Editar -->
                            <a href="#" class="btn btn-sm btn-outline-secondary"
                               data-bs-toggle="modal" th:attr="data-bs-target='#editarModal__' + ${c.id}">
                                <i class="fa fa-pencil-alt"></i> [[#{accion.editar}]]
                            </a>

                            <!-- Botón Eliminar -->
                            <a href="#" class="btn btn-sm btn-outline-dark"
                               data-bs-toggle="modal" th:attr="data-bs-target='#eliminarModal__' + ${c.id}">
                                <i class="fa fa-trash"></i> [[#{accion.eliminar}]]
                            </a>
                        </div>
                        <!-- Modal Editar -->
                        <div class="modal fade" th:id="'editarModal__' + ${c.id}" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content bg-dark text-light">
                                    <form th:action="@{/categoria/guardar}" method="post">
                                        <div class="modal-header bg-secondary text-white">
                                            <h5 class="modal-title">[[#{accion.actualizar}]]</h5>
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" name="id" th:value="${c.id}"/>
                                            <label>[[#{categoria.nombre}]]</label>
                                            <input type="text" name="nombre" th:value="${c.nombre}"
                                                   class="form-control bg-dark text-light border-secondary" required/>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-outline-light">[[#{accion.guardar}]]</button>
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">[[#{accion.cerrar}]]</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Modal Eliminar -->
                        <div class="modal fade" th:id="'eliminarModal__' + ${c.id}" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content bg-dark text-light">
                                    <form th:action="@{/categoria/eliminar}" method="post">
                                        <input type="hidden" name="id" th:value="${c.id}"/>
                                        <div class="modal-header bg-secondary text-white">
                                            <h5 class="modal-title">[[#{accion.confirmar}]]</h5>
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>[[#{accion.confirmar.texto1}]] <span th:text="${c.nombre}"></span>?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-secondary">
                                                <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </body>
</html>