<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"/>
    <body class="bg-dark text-light">
        <header th:replace="~{general/fragmentos :: header}"/>
        <section th:replace="~{categoria/fragmentos :: listado}"/>
        <section th:replace="~{categoria/fragmentos :: agregar}"/>
        <section th:replace="~{categoria/fragmentos :: confirmarEliminar}"/>
        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>