<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{general/fragmentos :: head}"/>
<body class="bg-dark text-light">
    <header th:replace="~{general/fragmentos :: header}"/>
    <section class="mb-5">
        <h1 class="text-center text-light">Categorias de Entrenamiento</h1>
        <p class="lead text-center text-light">
            En esta sección podrás agregar, editar o eliminar las Categorias de Entrenamiento
        </p>
    </section>
    <section th:replace="~{categoria/fragmentos :: listado}"/>
    <footer th:replace="~{general/fragmentos :: footer}"/>
</body>
</html>