<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <body class="bg-dark text-light">

        <!-- Fragmento head -->
    <head th:fragment="head">
        <meta charset="UTF-8">
        <title>Gimnasio Fitness</title>
        <!-- Bootstrap y FontAwesome desde WebJars -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/7.0.0/css/all.css}"/>
        <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.3.7/js/bootstrap.min.js}"></script>
    </head>
    
    <!-- Fragmento header -->
    <header th:fragment="header">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">                    
                <a th:href="@{/}" class="navbar-brand text-light">[[#{aplicacion.titulo}]]</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item px-2"><a class="nav-link text-secondary" th:href="@{/categoria/listado}">[[#{plantilla.categorias}]]</a></li>
                        <li class="nav-item px-2"><a class="nav-link text-secondary" th:href="@{/servicios/listado}">[[#{plantilla.servicios}]]</a></li>
                        <li class="nav-item px-2"><a class="nav-link text-secondary" th:href="@{/contacto/listado}">[[#{plantilla.contacto}]]</a></li>                                
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <!-- Fragmento footer -->
    <footer th:fragment="footer" class="p-2 mt-5 bg-secondary text-light text-center">
        <p class="lead">[[#{plantilla.derechos}]] &COPY;</p>
    </footer>

    <!-- Fragmento toast (mensajes emergentes) -->
    <section th:fragment="mostrarToast">
        <div aria-live="polite" aria-atomic="true" 
             class="position-fixed top-50 start-50 translate-middle" style="z-index: 1080;">                
            <div th:if="${error}" class="toast show bg-dark text-light border border-danger">
                <div class="toast-header bg-secondary text-light">
                    <i class="fa-solid fa-bomb"></i> <strong class="me-auto">Error</strong>
                </div>
                <div class="toast-body">
                    <p th:text="${error}"></p>
                    <div class="mt-2 pt-2 border-top text-center">
                        <button type="button" class="btn btn-outline-light btn-sm" 
                                data-bs-dismiss="toast">[[#{accion.cerrar}]]</button>
                    </div>
                </div>
            </div>
            <div th:if="${todoOk}" class="toast show bg-dark text-light border border-success">
                <div class="toast-header bg-secondary text-light">
                    <i class="fa-solid fa-square-check"></i> <strong class="me-auto">OK</strong>
                </div>
                <div class="toast-body">
                    <p th:text="${todoOk}"></p>
                    <div class="mt-2 pt-2 border-top text-center">
                        <button type="button" class="btn btn-outline-light btn-sm" 
                                data-bs-dismiss="toast">[[#{accion.cerrar}]]</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>